.alert {
    margin-top: 10px;
}
.form-inline {
    margin-top: 10px;
}
.form-inline > div {
    float: right;
}
.row > div {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}
#addTracks {
    margin: 15px;
}
.slider {
    height: 40px !important;
}
.slider-handle {
    width: 15px;
    height: 15px;
    margin-left: -2.25px !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

@media (max-width: 767px){
  .form-inline {
    text-align: center;
  }
}